{% extends 'budget/base.html' %}
{% block content %}
    {% for x in incomes %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ x.author }}</a>
                    <small class="text-muted">{{ x.date_income }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ x.reason_income }} {{ x.income }} {{ x.currency }}</a></h2>
            </div>
        </article>
    {% endfor %}
{% endblock %}